#monster-hp, #player-hp {
  font-size: 0.7em;
  margin: 0px;
}

.hud {
  width: 70%;
}

.hud h3 {
  font-size: 1em;
  letter-spacing: 2px;
}

.hud-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Barra de HP */

.hp-bar {
  width: 100%;
  border: 3px solid white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.hp-part {
  background-color: white;
  width: 100%;
  height: 15px;
}

#monster-hp-bar .hp-part {
  background-color: var(--red);
}

#player-hp-bar .hp-part {
  background-color: var(--green);
}

/* AC */

.ac-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Botões de combate  */

.menu-combat div {
  flex-direction: row;
  width: 100%;
}

.menu-combat button {
  font-size: 18px;
}

@media (min-width: 768px) {
  .hud {
    width: 50%;
  }

  .hud h3 {
    font-size: 0.8em;
    letter-spacing: 2px;
  }
}